{% extends 'base.html' %}

{% block title %}
<title>Detail article</title>
{%endblock%}


{% block content %}
<h1>Detail de l'article</h1>

<article class="Detail">
    <h2>{{detailArticle.title}}</h2>
    {% if detailArticle.thumbnail and detailArticle.thumbnail.url %}
    <img class="article-thumbnail" src="{{ detailArticle.thumbnail.url }}" alt="image article">
    {%else %}
    <img src="" alt="image article">
    {%endif%}
    <p  class="commentaire">{{detailArticle.content|safe}}</p>
</article>
{%endblock%}