<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
   <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    {% block title %}
    <title>Learn Django</title>
    {% endblock %}
</head>

<body>
    <nav>                
        {% if request.user.is_authenticated %}
        <a href="{% url 'blog:home' %}">Articles Postés</a>
        <a href="{% url 'blog:ajout' %}">Ajouter un Article</a>
        <a href="{% url 'accounts:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'blog:home' %}">Articles Postés</a>
        <a href="{% url 'accounts:login' %}">Se Connecter</a>
        <a href="{% url 'accounts:signup' %}">S'inscrire</a>
        {% endif %}

    </nav>

    <section id="blog">
        {% block content %}
        {% endblock %}
    </section>

    <footer>
        <p>&copy; 2024 Mon Blog. Tous droits réservés.</p>
    </footer>
</body>
</html>